import React from 'react';
import { tv } from 'tailwind-variants';

interface {{pascalCase name}}Props {
  // Define props here
}

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  return <div>{{pascalCase name}} component</div>;
};